{{- $signingMode := dig "signingMode" (ternary "1password" "off" (dig "useOnePassword" true .)) . -}}
{{/* dig: the email key is absent entirely when setup was left blank. */ -}}
{{- $email := dig "email" "" . -}}
{{- if and (ne $signingMode "off") $email .signingKey -}}
{{ $email }} {{ .signingKey }}
{{- end }}
