{{- $signingMode := dig "signingMode" (ternary "1password" "off" (dig "useOnePassword" true .)) . -}}
{{- if and (ne $signingMode "off") .email .signingKey -}}
{{ .email }} {{ .signingKey }}
{{- end }}
